<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Lisan ud Dawat</string>
	<key>CFBundleExecutable</key>
	<string>LSDKeyboard</string>
	<key>CFBundleIconFile</key>
	<string>LSDKeyboard</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LSDKeyboard</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.11</string>
	<key>CFBundleVersion</key>
	<string>1.11</string>
	<key>InputMethodConnectionName</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>InputMethodServerControllerClass</key>
	<string>LSDInputController</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.exordiumnetworks.inputmethod.lsdkeyboard.Main</string>
		</array>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.exordiumnetworks.inputmethod.lsdkeyboard.Main</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.exordiumnetworks.inputmethod.lsdkeyboard.Main</string>
				<key>TISIntendedLanguage</key>
				<string>ar</string>
				<key>tsInputModeScriptKey</key>
				<string>smArabic</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>LSDKeyboard.icns</string>
			</dict>
		</dict>
	</dict>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>ar</string>
	</array>
</dict>
</plist>
