<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Lisan ud Dawat</string>
	<key>CFBundleExecutable</key>
	<string>LSDKeyboard</string>
	<key>CFBundleIconFile</key>
	<string>LSDKeyboard</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Lisan ud Dawat</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.12</string>
	<key>CFBundleVersion</key>
	<string>1.12</string>
	<key>TISIntendedLanguage</key>
	<string>ar</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<string>ar</string>
	<key>InputMethodConnectionName</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>InputMethodServerControllerClass</key>
	<string>LSDInputController</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.exordiumnetworks.inputmethod.lsdkeyboard.LSDWindows</key>
			<dict>
				<key>TISIntendedLanguage</key>
				<string>ar</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<string>ar</string>
				<key>tsInputModeAlternateMenuItemNameKey</key>
				<string>LSD</string>
				<key>tsInputModeKeyLayoutKey</key>
				<string>Lisan ud Dawat - AK</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smArabic</string>
				<key>tsInputModeLanguageKey</key>
				<array>
					<string>ar</string>
				</array>
				<key>tsInputModeMenuIconFileKey</key>
				<string>LSDWindows.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>LSDWindows.png</string>
			</dict>
			<key>com.exordiumnetworks.inputmethod.lsdkeyboard.LSDMac</key>
			<dict>
				<key>TISIntendedLanguage</key>
				<string>ar</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<string>ar</string>
				<key>tsInputModeAlternateMenuItemNameKey</key>
				<string>LSD-Mac</string>
				<key>tsInputModeKeyLayoutKey</key>
				<string>Lisan ud Dawat - Mac</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smArabic</string>
				<key>tsInputModeLanguageKey</key>
				<array>
					<string>ar</string>
				</array>
				<key>tsInputModeMenuIconFileKey</key>
				<string>LSDMac.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>LSDMac.png</string>
			</dict>
			<key>com.exordiumnetworks.inputmethod.lsdkeyboard.CRULP</key>
			<dict>
				<key>TISIntendedLanguage</key>
				<string>ur</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<string>ur</string>
				<key>tsInputModeAlternateMenuItemNameKey</key>
				<string>CRULP</string>
				<key>tsInputModeKeyLayoutKey</key>
				<string>Lisan ud Dawat - AK</string>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModePrimaryInScriptKey</key>
				<false/>
				<key>tsInputModeScriptKey</key>
				<string>smArabic</string>
				<key>tsInputModeLanguageKey</key>
				<array>
					<string>ur</string>
				</array>
				<key>tsInputModeMenuIconFileKey</key>
				<string>CRULP.png</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>CRULP.png</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
